-r requirements-base.in
django-nested-admin
django-crispy-forms
Django
django-grappelli
celery
redis
raven
django-colorful
colour
django-cachalot
django-redis-cache
hiredis
django-compressor
django-debug-toolbar
sendgrid-django
django-guardian
django-select2-forms
django-celery
ipython
pytest
pytest-django
pytest-xdist
pytest-cov
pytest-mock